<div class="container">
    <div class="card p-4 m-4">
        <form>
            <div class="row">

                <div class="col-12 text-end">
                    <button type="button" class="btn btn-dark" (click)="onGuardar()">
                        Guardar
                    </button>

                    <button type="button" class="btn btn-secondary" (click)="onRegresar()">
                        Regresar
                    </button>
                </div>

            </div>
            <hr>

            <div class="row">

                <form>

                    <div class="form-group mb-3">
                        <label>Nombre *</label>
                        <input [(ngModel)]="genero.Nombre" name="Nombre" type="text" maxlength="50" class="form-control"
                            required>
                    </div>

                </form>
            </div>
        </form>


    </div>
</div>